In [10]:
import numpy as np
import pandas as pd

In [11]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [8]:
df = pd.concat([flats,houses],ignore_index=True)
df = df.sample(df.shape[0],ignore_index=True)

In [9]:
df = df.sample(df.shape[0],ignore_index=True)

TypeError: sample() got an unexpected keyword argument 'ignore_index'

In [12]:
df = pd.concat([flats, houses], ignore_index=True)

# Shuffle the DataFrame and reset the index
df = df.sample(frac=1).reset_index(drop=True)

In [13]:

df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,5.75,22184.0,2592.0,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4,4,2,servant room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Sector 106 Gurgaon,flat,paras dews,0.88,6353.0,1385.0,Super Built up area 1385(128.67 sq.m.)Built Up...,2,2,3+,not available,"Sector 106 Gurgaon, Gurgaon, Haryana",3.0,South-East,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...",Paras dews is one of gurgaon's most sought aft...,"['2 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 92 Gurgaon,flat,raheja sampada,0.90,6569.0,1370.0,Super Built up area 1370(127.28 sq.m.),3,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",11.0,East,1 to 5 Year Old,"['Sapphire 93', 'JMS crosswalk', 'Reliance Sma...",We are the proud owners of this 3 bhk apartmen...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Safety3 out of 5', 'Lifestyle4 out of 5', 'E..."
3,14 Bedroom House for sale in DLF Phase 3,house,independent,3.20,59259.0,540.0,Plot area 60(50.17 sq.m.),14,14,3+,not available,"Three Side Corner, DLF Phase 3, Gurgaon, Haryana",6.0,West,1 to 5 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Rental income option for sale in 60 sq.Yds. Fu...,"['14 Bed', '14 Wardrobe', '1 Water Purifier', ...","['Water Storage', 'Park']","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,18 Bedroom House for sale in Suncity,house,independent,5.50,38194.0,1440.0,Plot area 160(133.78 sq.m.),18,18,3+,servant room,"11111, Suncity, Gurgaon, Haryana",4.0,South-West,1 to 5 Year Old,"['Sector 54 chowk metro station', 'Sector metr...",18 bed room newly built up in 160 yds plot is ...,"['1 Water Purifier', '22 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [15]:
df.shape

(3961, 20)

In [16]:
df.to_csv('gurgaon_properties.csv',index=False)